.package__section {
  border: 4px solid;
  padding: 32px 16px;
  margin-bottom: 16px;
  width: 66%;
}

.free_package {
  background-color: aquamarine;
  float: right;
}

.clearfix {
  /* Hack to clear float on either side of an element, so that other elements respect the original doc flow*/
  clear: both;
}

.plus_package {
  background-color: greenyellow;
  position: relative;
  z-index: -1;
}

.package__badge {
  position: absolute;
  top: 32px;
  right: 132px;
  background: red;
  color: white;
  padding: 10px;
  font-size: 12px;
}

.premium_package {
  background-color: darkgreen;
}

.package__section:hover,
.package__section:active {
  outline: 2px solid red;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  border-color: red;
}

.background {
  background: url("../images/plans-background.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.package__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.package__link > h1 {
  color: black;
}

.package__link > h2 {
  color: grey;
}

.package__link > p {
  color: black;
  border: 1px solid;
  padding: 8px;
  background-color: white;
}

section:last-child h1,
section:last-child h2 {
  color: white;
}
