body {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5em;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.5em;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f88;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 10%;
}

/** Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 300;
}

/** Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/** Title Image **/

.title-img {
  width: 60%;
  transform: rotate(15deg);
  position: absolute; /* Takes the image out of the HTML flow*/
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative; /* By making it a positioned element, it will stack on top */
}

.feature-box {
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 12.5%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/** Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
